// Color Variables
$primary-color: #000000;
$text-color: #333333;
$text-color-dark: #222222;
$body-color: #fff;
$border-color: #D1D1D1;
$black: #000;
$white: #fff;
$light: rgb(223, 223, 223);

$primary-gradient: linear-gradient( 27deg, rgb(89,181,30) 0%, rgb(149,210,57) 100%);

// Font Variables
$primary-font: 'Quicksand', sans-serif;
$icon-font: 'themify';
